/downloader/downloads_sourceforge_net-project-portable-virtualbox-for-lili-5_X-VirtualBox-5_0_4_1_zip?r$http%3A%2F%2Fwww_linuxliveusb_com%2Fen%2Fother-versions&ts$1456423117&use_mirror$nchc
/downloader/procxl_com-images-bone_marrow_msc_png
/downloader/procxl_com-iota_zip
/downloader/releases_ubuntu_mirror_rafal_ca-releases-14_04-wubi_exe
/downloader/ubuntu_lagis_at-releases-trusty-ubuntu-14_04_4-server-amd64_iso_torrent
/downloader/urls_done
/.idea/.name
/.idea/codeStyleSettings.xml
/.idea/encodings.xml
/.idea/freelance.iml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
/albonazionalegestoriambientali_it/comp.rar
/albonazionalegestoriambientali_it/comp.db3
/linkedin/Xing Scraper.rar
/bolly_reviews/Bollywood_Project_Requirements_04.15.2014v1.xlsx
/freecycle_org/images/*.jpg
/monroe-servers/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/
*.csv
*.zip

# Documents
*.pdf
*.doc
*.docx
*.xls
*.xlsx
*.csv
*.mdb
*.db3
*.sqlite
*.ods
*.rar
*.zip
*.gif
*.jpg
*.png
*.tif